:root {
  --primary: #25376C;
  --white: #fff;
  --gray: #dfe1e5;
  --gray-light: #f5f5f5;
  --gray-darkened: #727272;
  --box-shadow: rgb(100 100 111 / 50%);
  --font-work-sans: 'Work Sans', sans-serif;
}

